.banner-area {
	.banner-item {
		height: 600px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		width: 100%;
		@media screen and (max-width: 768px) {
			height: 450px;
		}
		
		.overlay {
			@include pseudo;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 1;
			z-index: 1;
			background: #fff; /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #fff, transparent); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #fff, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		
		.content {
			position: absolute;
			z-index: 2;
			max-width: 540px;
			top: 50%;
			@include transform(translateY(-50%));
			left: 10%;
			
			@media screen and (max-width: 768px) {
				max-width: 100%;
				left: 15px;
			}
			
			.subtitle {
				color: #0180C3;
				font-size: 1.2em;
				font-weight: 700;
			}
			
			.title {
				margin: 15px 0;
				font-weight: 700;
				color: #0180C3;
				font-size: 3em;
				
				@media screen and (max-width: 768px) {
					line-height: 1.4;
					font-size: 2em;
				}
			}
			
			.text {
				font-size: 1.1em;
				font-weight: 300;
				color: #232323;
				max-width: 75%;
				
				@media screen and (max-width: 768px) {
					font-size: 1em;
					max-width: 90%;
				}
			}
			
			.action {
				margin-top: 30px;
				
				@media screen and (max-width: 768px) {
					@include xy-position(center, flex-start);
				}
				
				.btn-style {
					min-width: 180px;
					
					@media screen and (max-width: 768px) {
						min-width: 120px;
					}
				}
			}
		}
	}
	
	.swiper-pagination-bullet {
		transition: .3s all ease;
		outline: none !important;
		box-shadow: none !important;
		
		&.swiper-pagination-bullet-active {
			width: 28px;
			border-radius: 8px;
		}
	}
}