.banner-area {
	@include pr;
	overflow: hidden;
	
	.swiper-container {
		.swiper-wrapper {
			.swiper-slide {
				.banner-item {
					padding-top: 66.68%;
					width: 100%;
					position: relative;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					@media screen and (max-width: 768px) {
						padding-top: unset;
						height: 350px;
						
						&:before {
							@include pseudo;
							top: 0;
							left: 0;
							background: rgba($color-blue, .6);
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		
		.swiper-pagination {
			@include xy-position(center, center);
			
			.swiper-pagination-bullet {
				margin: 0 4.5px;
				width: 1em;
				height: 1em;
				border: 0;
				background: transparent !important;
				position: relative;
				display: flex;
				border-radius: 0;
				align-items: center;
				justify-content: center;
				opacity: 1;
				
				&:before {
					display: block;
					content: "";
					position: absolute;
					left: 1px;
					right: 1px;
					top: 1px;
					bottom: 1px;
					background: #fff;
					opacity: 1;
					width: auto;
					transform: scale3d(1, .125, 1);
					transform-origin: 50% 50%;
					transition: 250ms ease all;
				}
				
				&:after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: "";
					display: block;
					border-radius: 50%;
					transition: 250ms ease all;
					transform: scale(0);
					transform-origin: 50% 50%;
					background: $color-main;
					box-shadow: none;
				}
				
				&.swiper-pagination-bullet-active,
				&:hover {
					opacity: 1;
					outline: none !important;
					
					&:before {
						transform: scale3d(0, .125, 1);
					}
					
					&:after {
						transform: scale(1);
					}
				}
			}
		}
	}
}